---
layout: default
---

<article class="post">
  <div class="date post-date-color">
    {{ page.date | date_to_string }}
  </div>
  <h1>{{ page.title }}</h1>

  <div class="tags-expo">
    <div class="tags-expo-list">
      {% if page.tags %}
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="tags-expo">
    <div class="tags-expo-list">
      Filed under <a href="{{ site.baseurl }}{{ site.category_page }}#{{ tag | slugify }}" class="post-tag">{{ page.category }}</a>
    </div>
  </div>



  {% include disqus.html %}
</article>
